.hero{
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.75)
    ),
    url("img/hero-dyt.webp.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    max-width:900px;
    padding:20px;
}

.hero h1{
    font-size:7rem;
    font-weight:800;
    letter-spacing:-3px;

    color:white;

    text-shadow:
    0 0 20px rgba(50,200,120,.25);
}

.hero p{
    margin-top:30px;
    font-size:1.4rem;
    line-height:1.8;

    color:#d0d0d0;
}

.buttons{
    margin-top:40px;
}

.buttons a{
    display:inline-block;

    margin:10px;

    padding:16px 32px;

    border-radius:12px;

    text-decoration:none;

    color:white;

    background:#2f9f5f;

    transition:.3s;
}

.buttons a:hover{
    transform:translateY(-3px);
}
